<!-- HAI 2025 Highlights Section -->
<section id="2025-highlights" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.highlightsTitle }}</h3>

            <p class="text-left">{{ site.highlightsDescription }}</p><br><br>

            <video controls playsinline loop width="800">
                <source src="/assets/{{ site.highlightsVideo }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>
<!-- End HAI 2025 Highlights Section -->