<!-- Begin About Poster Section -->
<section id="about-poster" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="text-left">{{ site.posterDescription }}</p>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <br><br>
            <a href="{{ site.posterUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">{{ site.posterButtonText }}</a>
        </div>
    </div>
</section>
<!-- End About Poster Section -->