<!-- Begin About Poster Section -->
<section id="about-poster" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="text-left">{{ site.posterDescription }}</p>
            <br><br>
            <h3>{{ site.posterTopicsTitle }}</h3>
            {% for topics in site.posterTopicsRows %}
            <p class="text-left">- {{ topics.title }}</p>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End About Poster Section -->