<!-- Begin FAQ Pitch Section -->
<section id="faq-pitch" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Frequently Asked Questions (FAQ)</h4>
            {% for qna in site.pitchFaqRows %}
            <p class="text-left"><b>{{ qna.title }}</p>
            <p class="text-left">{{ qna.details }}</p>
            {% endfor %}
        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <br><br>
            <a href="{{ site.pitchUrl }}" class="btn btn-primary btn-lg waves-effect waves-button waves-light waves-float" target="_blank">{{ site.pitchButtonText }}</a>
        </div>
    </div>
</section>
<!-- End FAQ Pitch Section -->