<!-- Begin FAQ Poster Section -->
<section id="faq-poster" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Frequently Asked Questions (FAQ)</h4>
            <div class="faq-list">
                {% for qna in site.posterFaqRows %}
                <details class="faq-item">
                    <summary class="faq-question text-left">{{ qna.title }}</summary>
                    <div class="faq-answer text-left">{{ qna.details }}</div>
                </details>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <br><br>
            <a href="{{ site.posterUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">{{ site.posterButtonText }}</a>
        </div>
    </div>
</section>
<!-- End FAQ Poster Section -->
