<!-- Begin Guest of Honor Section -->
<section id="goh" class="goh image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.gohImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.gohTitle }}</h3>
			
			<img class="img-circle" src="{{ site.baseurl }}/img/people/{{ site.gohPhoto }}" height="200" width="200" alt="{{ site.gohName }}">
            
            <h5>{{ site.gohName }}</h5>
            <p>{{ site.gohDesignation }}</p>
		</div>
	</div>
</section>
<!-- End Guest of Honor Section -->