<!-- Begin Poster Hero Section -->
<section id="poster-section-hero" class="call-section-hero call-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.posterHeroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
        <div class="jumbotron">
            <h1>{{ site.posterTitle }}</h1>
            <a href="{{ site.posterUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.posterButtonText }}</a>
        </div>
    </div>
</section>
<!-- End Poster Hero Section -->