<!-- Begin Pitch Hero Section -->
<section id="pitch-section-hero" class="call-section-hero call-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.pitchHeroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
        <div class="jumbotron">
            <h1>{{ site.pitchTitle }}</h1>
            <a href="{{ site.pitchUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.pitchButtonText }}</a>
        </div>
    </div>
</section>
<!-- End Pitch Hero Section -->