<!-- Begin Info Poster Section -->
<section id="info-poster" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Important Dates</h3>

            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for dates in site.posterDatesRows %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12 same-height animated hiding data-animation="fadeInDown" data-delay="{{ animationDelay }}">  
                        <h5>{{ dates.title }}</h5>
                        <p>{{ dates.date }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!-- End Info Poster Section -->