<!-- Begin Pitch Challenge Section -->
<section id="pitch-challenge" class="pitch-challenge">
    <div class="content-wrapper">

        <!-- Theme Section -->
        <div class="col-lg-10 col-lg-offset-1">
            <div class="pitch-theme animated hiding" data-animation="fadeInUp" data-delay="400">
                <h4 class="section-header">Theme</h4>
                <div class="theme-content">
                    <h5 class="theme-title">Care Deliveries Transformation -</h5>
                    <p class="theme-subtitle">How Technology is Redefining Healthcare</p>
                </div>
            </div>

            <!-- Connect, Network, Elevate Cards -->
            <div class="row pitch-benefits">
                <div class="col-md-4 col-sm-4 col-xs-12 animated hiding" data-animation="fadeInLeft" data-delay="500">
                    <div class="benefit-card benefit-connect">
                        <div class="benefit-img" style="background-image: url({{ site.baseurl }}/img/pitch/connect.jpg)">
                            <div class="overlay solid-overlay"></div>
                            <div class="benefit-content">
                                <h5>CONNECT</h5>
                                <p>with leading investors and industry experts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 animated hiding" data-animation="fadeInUp" data-delay="600">
                    <div class="benefit-card benefit-network">
                        <div class="benefit-img" style="background-image: url({{ site.baseurl }}/img/pitch/network.jpg)">
                            <div class="overlay solid-overlay"></div>
                            <div class="benefit-content">
                                <h5>NETWORK</h5>
                                <p>with potential partners and mentors</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 animated hiding" data-animation="fadeInRight" data-delay="700">
                    <div class="benefit-card benefit-elevate">
                        <div class="benefit-img" style="background-image: url({{ site.baseurl }}/img/pitch/elevate.jpg)">
                            <div class="overlay solid-overlay"></div>
                            <div class="benefit-content">
                                <h5>ELEVATE</h5>
                                <p>your visibility within the healthcare AI community</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Key Dates and Why Apply Section -->
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row pitch-details-row">
                <!-- Key Dates -->
                <div class="col-md-4 col-sm-12 animated hiding" data-animation="fadeInLeft" data-delay="800">
                    <div class="key-dates-box">
                        <h4 class="section-header">Key Dates</h4>
                        <div class="date-item">
                            <p class="date-label">Application Deadline</p>
                            <p class="date-value highlight-date">31 March 2026</p>
                        </div>
                        <div class="date-item">
                            <p class="date-label">Pitch Date</p>
                            <p class="date-value highlight-date">9 July 2026</p>
                        </div>
                    </div>
                </div>

                <!-- Why Apply -->
                <div class="col-md-8 col-sm-12 animated hiding" data-animation="fadeInRight" data-delay="800">
                    <div class="why-apply-box">
                        <h4 class="section-header">Why Apply?</h4>
                        <p class="why-apply-intro">Participants will have the opportunity to pitch their ideas and receive expert feedback from a panel of judges and industry leaders.</p>
                        <p class="why-apply-subheader">The top three teams will gain access to:</p>
                        <ul class="benefits-list">
                            <li>Recognition during the symposium</li>
                            <li>Exclusive networking opportunities with investors and strategic partners</li>
                            <li>Potential follow-up discussions or funding introductions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Important Notes Section -->
        <div class="col-lg-10 col-lg-offset-1">
            <div class="important-notes animated hiding" data-animation="fadeInUp" data-delay="1000">
                <div class="notes-header">
                    <h4>Important Notes</h4>
                </div>
                <div class="row notes-content">
                    <div class="col-md-6 col-sm-12">
                        <ul class="notes-list">
                            <li>Global healthcare companies and startups are welcome to apply</li>
                            <li>Shortlisted teams will present onsite at the symposium</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="prizes-box">
                            <p class="prizes-title">Attractive cash prizes for the Top 3 teams!</p>
                            <div class="prize-grid">
                                <div class="prize-item">
                                    <span class="prize-rank">Grand Prize</span>
                                    <span class="prize-amount">SGD 10,000</span>
                                </div>
                                <div class="prize-item">
                                    <span class="prize-rank">Second Place</span>
                                    <span class="prize-amount">SGD 5,000</span>
                                </div>
                                <div class="prize-item">
                                    <span class="prize-rank">Third Place</span>
                                    <span class="prize-amount">SGD 3,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Link -->
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <div class="pitch-footer animated hiding" data-animation="fadeInUp" data-delay="1100">
                <p class="submission-link">Access all submission details: <a href="{{ site.pitchChallengeLink }}" target="_blank">{{ site.pitchChallengeLink }}</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End Pitch Challenge Section -->