<!-- Begin Sponsorship Section -->
<section id="sponsorship" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="text-left">{{ site.sponsorDescription }}</p>
            <br><br>
            <h3>{{ site.sponsorRowsTitle }}</h3>
            {% for row in site.sponsorRows %}
            <h6>{{ row.title }}</h6>
            <p class="text-left">{{ row.details }}</p>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Sponsorship Section -->