<!-- Begin Sponsorship Enquiry Section -->
<section id="sponsorship-enquiry" class="statistic image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.sponsorEnquiryImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.sponsorEnquiryTitle }}</h3>
            <h5>{{ site.sponsorEnquirySubtitle }}</h5>
            <p>{{  site.sponsorEnquiryDescription}}</p>

            <br><br>
            <a href="mailto:{{ site.organizerEmail }}" class="btn btn-primary btn-lg waves-effect waves-button waves-light waves-float">{{ site.sponsorEnquiryButton }}</a>
        </div>
    </div>
</section>
<!-- End Sponsorship Enquiry Section -->